# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (uncomment to ignore if not using Go Modules or if vendoring is not desired in git)
# vendor/

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
